.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, 0.18);
  padding: 1rem 2rem;
  z-index: 2;

  .logo-wrapper {
    width: 150px;
    height: 50px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .nav-items {
    padding-left: 0;
    display: flex;
    list-style-type: none;
  }
}
