.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, 0.18);
  padding: 1rem 2rem;
  z-index: 2;

  .logo-wrapper {
    height: 50px;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  .nav-items {
    padding-left: 0;
    display: flex;
    list-style-type: none;
  }

  .menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;

    .icon-wrapper {
      background-color: #a395b1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
      svg {
        height: 60%;
      }
    }
    .expanded-menu {
      width: 400px;
      height: 100vh;
      background-color: white;
      box-shadow: 0 0 20px rgb(40 40 40 / 15%);

      .close-icon-wrapper {
        position: absolute;
        right: 20px;
        cursor: pointer;
      }

      ul {
        list-style-type: none;
        li {
          padding: 1rem;
          a {
            color: #393939;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: #6baa75;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .top-navigation {
    .nav-items {
      display: none;
    }
    .menu {
      display: inline-flex;
    }
  }
}
