.about-container {
  display: flex;
  justify-content: space-around;
  padding: 4rem 5rem;

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    text-align: left;
    padding-right: 5rem;

    .intro-heading {
      color: #a395b1;
      font-family: 'League Spartan', sans-serif;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    .intro-description {
      color: #393939;
      font-size: 1.25rem;
      line-height: 1.5;
      span {
        color: #6baa75;
      }
    }

    .resume {
      margin-top: 1.5rem;
      font-weight: 550;
      font-size: 1.2rem;
      color: #a395b1;
      text-decoration: underline;
      cursor: pointer;
      padding: 3px;

      &:hover {
        background-color: #a395b1;
        color: white;
      }
    }
  }
  .image {
    img {
      height: 500px;
      border-radius: 50%;
    }
  }
}
